<!DOCTYPE html>
<!-- ==============================
    Project:        Metronic "Asentus" Frontend Freebie - Responsive HTML Template Based On Twitter Bootstrap 3.3.4
    Version:        1.0
    Author:         KeenThemes
    Primary use:    Corporate, Business Themes.
    Email:          support@keenthemes.com
    Follow:         http://www.twitter.com/keenthemes
    Like:           http://www.facebook.com/keenthemes
    Website:        http://www.keenthemes.com
    Premium:        Premium Metronic Admin Theme: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
================================== -->
<html lang="en" class="no-js">
    <!-- BEGIN HEAD -->
    <head>
        <meta charset="utf-8"/>
        <title>MP Calculator</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <meta content="" name="description"/>
        <meta content="" name="author"/>
        {% load static %}

        <!-- GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet" type="text/css">
        <link href="{% static 'vendor/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>

        <!-- PAGE LEVEL PLUGIN STYLES -->
        <link href="{% static 'css/animate.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/swiper/css/swiper.min.css' %}" rel="stylesheet" type="text/css"/>

        <!-- THEME STYLES -->
        <link href="{% static 'css/layout.min.css' %}" rel="stylesheet" type="text/css"/>

        <!-- Favicon -->
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>

    </head>
    <!-- END HEAD -->

    <!-- BODY -->
    <body class="page-on-scroll">

        <!--========== HEADER ==========-->
        <header class="header navbar-fixed-top">
            <!-- Navbar -->
            <nav class="navbar" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="menu-container">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="toggle-icon"></span>
                        </button>

                        <!-- Logo -->
                        <div class="logo">
                            <a class="logo-wrap" href="/">
                                <img class="logo-img logo-img-main" src="{% static 'img/logomp.png' %}" alt="Asentus Logo">
                                <img class="logo-img logo-img-active" src="{% static 'img/logomp.png' %}" alt="Asentus Logo">
                            </a>
                        </div>
                        <!-- End Logo -->
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse nav-collapse">
                        <div class="menu-container">
                            <ul class="navbar-nav navbar-nav-right">
                                <li class="nav-item"><a class="nav-item-child nav-item-hover active" href="/calculators/">Home</a></li>
                                <li class="nav-item"><a class="nav-item-child nav-item-hover" href="/calculators/loans">Loan Payments</a></li>
                                <li class="nav-item"><a class="nav-item-child nav-item-hover" href="/calculators/compoundinterest">Compound Interest</a></li>
                                <li class="nav-item"><a class="nav-item-child nav-item-hover" href="/calculators/annuity">Annuity</a></li>
                                <li class="nav-item"><a class="nav-item-child nav-item-hover" href="/calculators/presentvalue">Present Value</a></li>
                                <li class="nav-item"><a class="nav-item-child nav-item-hover" href="/calculators/mortgage">Mortgage</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Navbar Collapse -->
                </div>
            </nav>
            <!-- Navbar -->
        </header>
        <!--========== END HEADER ==========-->

            {% block content %}
            {% endblock %}

        <!--========== FOOTER ==========-->
        <footer class="footer">

            <!-- Copyright -->
            <div class="content container">
                <div class="row">
                    <div class="col-xs-6">
                        <p class="margin-b-0">Developed by Najwa Amir &copy; 2018</p>
                    </div>
                    <div class="col-xs-6 text-right">
                        <p class="margin-b-0"><a class="color-base fweight-700" href="http://keenthemes.com/preview/asentus/">Asentus</a> Theme Powered by: <a class="color-base fweight-700" href="http://www.keenthemes.com/">KeenThemes.com</a></p>
                    </div>
                </div>
                <!--// end row -->
            </div>
            <!-- End Copyright -->
        </footer>
        <!--========== END FOOTER ==========-->

        <!-- Back To Top -->
        <a href="javascript:void(0);" class="js-back-to-top back-to-top">Top</a>

        <!-- JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
        <!-- CORE PLUGINS -->
        <script src="{% static 'vendor/jquery.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'vendor/jquery-migrate.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>

        <!-- PAGE LEVEL PLUGINS -->
        <script src="{% static 'vendor/jquery.easing.js' %}" type="text/javascript"></script>
        <script src="{% static 'vendor/jquery.back-to-top.js' %}" type="text/javascript"></script>
        <script src="{% static 'vendor/jquery.smooth-scroll.js' %}" type="text/javascript"></script>
        <script src="{% static 'vendor/jquery.wow.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'vendor/swiper/js/swiper.jquery.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'vendor/masonry/jquery.masonry.pkgd.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'vendor/masonry/imagesloaded.pkgd.min.js' %}" type="text/javascript"></script>

        <!-- PAGE LEVEL SCRIPTS -->
        <script src="{% static 'js/layout.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/components/wow.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/components/swiper.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/components/masonry.min.js' %}" type="text/javascript"></script>

    </body>
    <!-- END BODY -->
</html>