{% extends 'calculators/sublayout.html' %}

{% block content %}

    <div class="content-lg container">
        <div class="col-sm-5 sm-margin-b-30">
            <form method="POST">
                {% csrf_token %}
                <h5>Loan amount</h5>
                <input name="loan_amount" value="{{ form.loan_amount.value }}" type="number" class="form-control footer-input margin-b-20" placeholder="Loan amount" required value="{{ form.loan_amount.value }}" step="0.000001" />
                <h5>Interest rate</h5>
                <input name="interest_rate" value="{{ form.interest_rate.value }}" type="number" class="form-control footer-input margin-b-20" placeholder="Interest rate" required value="{{ form.interest_rate.value }}" step="0.000001" />
                <h5>Number of months</h5>
                <input name="number_of_months" value="{{ form.number_of_months.value }}" type="number" class="form-control footer-input margin-b-20" placeholder="Number of months" required value="{{ form.number_of_months.value }}" />
                <button type="submit" class="btn-theme btn-theme-sm btn-base-bg text-uppercase">Calculate</button>
            </form>
        </div>
        <div class="col-sm-7 sm-margin-b-30">
            {% block result %}
                {% if result %}

                    <table class="table table-striped">
                        <tr style="background-color:saddlebrown;color:white;">
                            <td>Item</td>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <td>
                                Loan Amount
                            </td>
                            <td>
                                {{ result.loan_amount }}
                        <tr>
                            <td>
                               Monthly Payments
                            </td>
                            <td>
                               {{ result.monthly_payments }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                               Total Interest
                            </td>
                            <td>
                               {{ result.total_interest }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                               Total Payment
                            </td>
                            <td>
                               {{ result.total_amount_to_be_repaid }}
                            </td>
                        </tr>
                         <tr>
                            <td>
                               Effective Annual Rate
                            </td>
                            <td>
                               {{ result.ear }}%
                            </td>
                        </tr>
                    </table>
                {% endif %}
            {% endblock %}
        </div>
    </div>

{% endblock %}